body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
        font-family: sans-serif;
        margin: 0 auto;
        max-width: 800px;
        color: #4c4c4c;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        } 